<% if flash[:notice] %>
	<div id="notices">
		<p><%= flash[:notice]%></p>
	</div>
<% end %>
<div id="content">
	<%= render 'partials/user_status', :locals => {:userid => 'all'}%>
	<div id="dynamic_information_div"></div>
	<a href="" id="event_button" >EVENT BUTTON</a>
	
</div>